

body {
    font-family: Arial, sans-serif;
    background-color: #F5F5F5;
}

header {
    background-color: grey;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 1rem;
}

nav a, nav h1 {
    text-decoration: none;
    color: white;
    margin: 0.5rem 2rem;
}

nav a:hover {
    color: black;
}

p {
    overflow-wrap: anywhere; 
    word-break: break-word; 
  }
  

.welcome-box {
    padding: 0.5rem 1rem;
    background-color:#FF8C42;
    border-radius: 10px;
    margin: 1rem 1rem;
}

.welcome-message {
    color: white;
}

.go-back-to-main-page {
    margin-top: 1rem;
    font-size: x-large;
}

