<!DOCTYPE html>
<html lang="es-CL">
    <head>
        <title>Avisos</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">   
        <link rel="stylesheet" href="{{ url_for('static', filename='css/post.css') }}">
    </head>

    <body>
        <header>
            {% include "navbar.html" %}
        </header>

        {% if data %}
            <div class="post-page-imgs">
                {% for img_filename in data['img_filenames'] %}
                    <img class="post-img" id="post-img-{{img_filename[0]}}" src="{{ img_filename[1] | resize('320x240', fill=1) }}" alt="Imagen {{img_filename[0]}}">
                {% endfor %}
            </div>

            <div class="post-page-info">
                <p id="post-page-publication-date">
                    <strong>Fecha de publicación:</strong> {{data['publication_date']}}
                </p>

                <p id="post-page-region">
                    <strong>Región:</strong> {{data['region']}}
                </p>

                <p id="post-page-commune">
                    <strong>Comuna:</strong> {{data['commune']}}
                </p>

                <p id="post-page-sector">
                    <strong>Sector:</strong> {{data['sector']}}
                </p>

                <p id="post-page-contact-name">
                    <strong>Nombre de contacto:</strong> {{data['name']}}
                </p>

                <p id="post-page-contact-email">
                    <strong>Correo electrónico:</strong> {{data['email']}}
                </p>

                <p id="post-page-phone-number">
                    <strong>Número de teléfono:</strong> {{data['phone']}}
                </p>

                <div id="post-page-contact-channels">
                    <strong>Canales de contacto:</strong>
                    <ul>
                        {% for cc in data['contact'] %}

                            <li>{{cc[1]}}: {{cc[2]}} </li>

                        {% endfor %}
                    </ul>
                </div>

                <p id="post-page-qty">
                    <strong>Cantidad:</strong> {{data['qty']}}
                </p>

                <p id="post-page-type">
                    <strong>Tipo:</strong> {{data['type']}}
                </p>

                <p id="post-page-age">
                    <strong>Edad:</strong> {{data['age']}} {{data['dimension']}}
                </p>

                <p id="post-page-due-date">
                    <strong>Fecha entrega:</strong> {{data['delivery_date']}}
                </p>

                <p id="post-page-description">
                    <strong>Descripción:</strong> {{data['description']}}
                </p>



                <a href="{{ url_for('home') }}">Volver a la portada</a>

                <div id="img-viewer" style="display: none;">
                    <span id="close-img" hidden>&times;</span>
                    {% for img_filename in data['img_filenames'] %}
                        <img class="zoomed-img" id="zoomed-img-{{img_filename[0]}}" alt="post-zoomed-img" src="{{ img_filename[1] | resize('800x900', fill=1) }}" hidden>
                    {% endfor %}
                </div>
        {% else %}
            <p style="text-align:center;"> El aviso no fue encontrado </p>
        {% endif %}

        <script src="{{ url_for('static', filename='js/post.js') }}"></script>
    </body>
</html>